<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Steamed Ham</title>
    <meta name="author" content="Caleb Kussmaul">
    <meta name="description" content="Steamed Hams">
    <link href="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/HamPage.css" rel="stylesheet">
    <link href="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/favicon.ico" rel="shortcut icon">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/HamPage.js"></script>
</head>
<body>
<iframe id="music" class="music musicPos1"
        src="https://www.youtube.com/embed/videoseries?list=PL46w2Vmqa4r28ggm--AemR0bAPTCyF08h&autoplay=1&loop=1&playsinline=1&enablejsapi=1"
        allow="autoplay; encrypted-media" frameborder="0" onload="playMusic()"></iframe>
<div class="hamburgerWrapper">
    <img src="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/steamedhamburger.png" class="hamburger">
    <div class="hamburgerMenu invisible">
        <p id="home" class="hamburgerLink">Home</p>
        <p id="in" class="hamburgerLink">Log in</p>
        <p id="me" class="hamburgerLink">My stuff</p>
        <p id="stats" class="hamburgerLink">Stats</p>
        <p id="rules" class="hamburgerLink">Rules &amp; stuff</p>
        <a id="out" class="hamburgerLink" href="/signout/">Log out</a>
    </div>
</div>
<div class="underblack"></div>
<p class="underlay"></p>
<p class="underlay underlay2"></p>
<video class="borealis" src="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/borealis.mp4" muted playsinline autoplay loop></video>
<div id="wrap">
    <div id=nav>
        <span><span id="prev" class="navButton back" title="back"></span> <h1 id="frameLabel"></h1> <span id="next" class="navButton next" title="next"></span></span>
        <br />
        <form style="margin: 0; padding: 0;" action="javascript:void(0);">
            <input type="number" id='navForm' min="1" max="1956"/>
            <input type='button' id='go' value='Go'/>
            <input type='button' id='rand' value='Random'/>
        </form>
    </div>
    <h2>Top Submission</h2>
    <div class="frames">
        <img class="prevFrame">
        <img class="prevFrame">
        <img id="frame">
        <img class="nextFrame">
        <img class="nextFrame">
    </div>
    <p class="framelinks"><a class="link" id="originallink" href="#">Download Original Frame </a> • <a class="link" id="videolink" href="#">View Frame in Video</a></p>

    <!-- Modal section -->
    <div id="comparisonModal" class="modal">
        <div class="modal-content">
            <h1>Compare with original frame</h1>
            <div>
                <input id='transparency' type="range" min="0" max="1" step='0.01' value="1"><br>
                <input id='subtract' type="checkbox"><label for="subtract" style="margin: 2pt">subtract</label>
            </div>
            <div class="comparison-bg" id="comparisonBg">
                <img alt="comparison" id='modalComparison'>
            </div>
        </div>
    </div>
    <h2>Submissions</h2>
    <div class="sort"><span>
        Sort by
        <select id="sortSelect">
          <option selected value="top">Top</option>
          <option value="new">New</option>
          <option value="old">Old</option>
          <option value="random">Random</option>
            <!--<option value="rising">Rising</option>-->
        </select>
      </span></div>
    <div id="submissions" class="submissions">
        <div class="upload submission">
            <p class="uploadText">Upload your own!</p>
            <p id="upload-login">Login</p>
            <div class=invisible id="upload-form">
                <form id="submit" method="POST" enctype="multipart/form-data" action="javascript:void(0);">
                    <input id="file" name="submission" type="file" accept="image/png, image/jpeg" class="browseButton">
                    <div id="cap2" class="g-recaptcha cap2" style="display: none" data-sitekey="6LdNW4YUAAAAAAodt34cXOJH8Cyy0_GJw_qH2SLQ"></div>
                    <input id="upload_btn" type="submit" value="Submit">
                </form>
                <p class="link" id="rules2">view rules</p>
            </div>
        </div>
    </div>
    <p class="footer">Hackathon project by Caleb Kussmaul &amp; Edridge D'Souza</p>
</div>
</body>
</html>