<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Steamed Ham</title>
    <meta name="author" content="Caleb Kussmaul">
    <meta name="description" content="Steamed Hams">
    <link href="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/HamPage.css" rel="stylesheet">
    <link href="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/favicon.ico" rel="shortcut icon">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/HamPage.js"></script>
</head>
<body>
<iframe id="music" class="music musicPos1"
        src="https://www.youtube.com/embed/videoseries?list=PL46w2Vmqa4r28ggm--AemR0bAPTCyF08h&autoplay=1&loop=1&playsinline=1&enablejsapi=1"
        allow="autoplay; encrypted-media" frameborder="0" onload="playMusic()"></iframe>
<div class="hamburgerWrapper">
    <img src="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/steamedhamburger.png" class="hamburger">
    <div class="hamburgerMenu invisible">
        <p id="home" class="hamburgerLink">Home</p>
        <p id="in" class="hamburgerLink">Log in</p>
        <a class="hamburgerLink" href="/signout/">Log out</a>
        <p id="stats" class="hamburgerLink">Stats</p>
        <p id="rules" class="hamburgerLink">Rules &amp Stuff</p>
    </div>
</div>
<div class="underblack"></div>
<p class="underlay"></p>
<p class="underlay underlay2"></p>
<video class="borealis" src="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/borealis.mp4" muted playsinline autoplay loop></video>
<div id="wrap">
    <h1>Steamed Hams but you can upload and vote on replacements for each of the 1,956 frames</h1><br>
    <h2>How it works</h2>
    <img class="descp" src="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/hamsplain.png"/><br>
    <h2>The final video will appear here</h2>
    <iframe class="final-render" width="320" height="240" src="https://www.youtube.com/embed/Y4lnZr022M8" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="framelinks">Check out <a class="link" href="https://www.reddit.com/r/obviouslygrilled/">the subreddit</a> for updates or if you have questions.
    <h3>The only rules for submissions are</h3>
    <div class="submissions">
    <ul>
        <li>Make the lines line up</li>
        <li>Don't get me banned from youtube</li>
        <li>Images must be 640x480</li>
    </ul>
    </div><br><br>
    <p>Think you can hamdle that?</p>
    <p class="enter" id="enter">Enter</p>
    <p class="footer">Hackathon project by Caleb Kussmaul & Edridge D'Souza</p>
</div>
</body>
</html>