<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Steamed Ham</title>
    <meta name="author" content="Caleb Kussmaul">
    <meta name="description" content="Steamed Hams">
    <link href="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/HamPage.css" rel="stylesheet">
    <link href="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/favicon.ico" rel="shortcut icon">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/HamPage.js"></script>
</head>
<body>
<iframe id="music" class="music musicAlt"
        src="https://www.youtube.com/embed/videoseries?list=PL46w2Vmqa4r28ggm--AemR0bAPTCyF08h&autoplay=1&loop=1&playsinline=1&enablejsapi=1"
        allow="autoplay; encrypted-media" frameborder="0" onload="playMusic()"></iframe>
<div class="hamburgerWrapper">
    <img src="https://steamedassets.nyc3.cdn.digitaloceanspaces.com/steamedhamburger.png" class="hamburger">
    <div class="hamburgerMenu invisible">
        <p id="home" class="hamburgerLink">Home</p>
        <p id="in" class="hamburgerLink">Log in</p>
        <p class="hamburgerLink" id="out"><a href="/signout">Log out</a></p>
        <p id="stats" class="hamburgerLink">Stats</p>
        <p id="rules" class="hamburgerLink">Rules &amp Stuff</p>
    </div>
</div>
<p class="underlay"></p>
<p class="underlay underlay2"></p>
<div id="wrap">
<h1> Most active frames </h1>
	<table id='top' class="submissions">
		<tr>
			<th>Rank</th><th>Frame</th><th>Number of submissions</th>
		</tr>

		{% for submission in top %}
		<tr>
			<td>{{ forloop.counter }}</td><td><a href="/ham/{{ submission.frame }}"> Frame {{ submission.frame }} </a></td> <td>{{ submission.count }}</td>
		</tr>
		{% endfor %}
	</table>

<h1> Least active frames</h1>
	<table id='bottom' class="submissions">
		<tr>
			<th>Rank</th><th>Frame</th><th>Number of submissions</th>
		</tr>
		{% for submission in bottom %}
		<tr>
			<td>{{ forloop.counter }}</td><td><a href="/ham/{{ submission.frame }}"> Frame {{ submission.frame }} </a></td> <td>{{ submission.count }}</td>
		</tr>
		{% endfor %}
	</table>
    <p class="footer">Hackathon project by Caleb Kussmaul & Edridge D'Souza</p>
</div>
</body>
</html>